.tags{
    display: flex;
    justify-content: center;    
    gap: 1rem;
    margin-top: 0.5rem;
    align-items: center;
}

.tag{
    background-color: rgba(252, 237, 32, 0.651);
    color: black;
    padding: 0.5rem 2rem;
    border-radius: 22px;
    border: 1px solid rgba(49, 47, 47, 0.37);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.redBtn{
    margin-bottom: 0.2rem;
}