.recipeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    flex-direction: column;
    position: relative;
}

.logout{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.logout Button{
    position: absolute;
    right: 10px;

}

.heading{
    margin: 1em 0 0.5em 0;
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}


.recipeItems{

    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.searchBar{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.searchBar input{
    height: 4vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
}